
    {% extends 'myapp/index.html' %}
    {% block style %} {% endblock  %}

    {% block body %}
    <div class="container col-md-4 col-md-offset-4 pt-4" >
        <h1>New Master Incident</h1><br>
        <p>initial Reporting</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group  pt-2">
              <label>Location</label>
             {{form.Location}}
            </div>
            <div class="form-group">
              <label>Incident Location</label>
        {{form.incident_location}}
            </div>
            <div class="form-group">
                <label>initial Severity</label>
          {{form.initial_Severity}}
              </div>
              <div class="form-group">
                <label>Immedate ActionTaken</label>
          {{form.Immedate_Action_Taken}}
              </div>
              <div class="form-group">
                <label>Reported By:</label>
          {{form.Reported_By}}
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        {% endblock %}
    

